body {
  text-align: center;
}

#flexDiv {
  display: flex;
  flex-flow: row wrap;
}
a {
  color: black;
  text-decoration: none;
}
li {
  padding-left: 3px;
  text-align: left;
}
/*NAV BAR------------------*/
nav {
  position: relative;
  border: 1px solid gray;
  width: 15%;

  background-color: antiquewhite;
}
nav a:hover {
  color: chocolate;
}

/*POST---------------------*/
.post {
  position: relative;
  border: 1px solid gray;
  width: 63%;
}

/* TODOLIST---------------------------------- */
.todo {
  position: relative;
  border: 1px solid gray;
  width: 20%;

  background-color: rgb(201, 215, 241);
}
.todo h5 {
  text-align: left;
  padding-left: 5px;
  margin-bottom: 5px;
}
#addList {
  width: auto;
}
